/*
off-black: #262626;
off-white: #E8E7C8;
red: #C25329;
dark-grey: #4F4F4F;
lite-grey: #6E6E6E;
*/

header {
  margin: 20px;
}

h1 {
  color: #C25329;
  letter-spacing: 30px;
  font-size: 70px;
}

header p {
  color: #C25329;
  margin-top: -30px;
  letter-spacing: 1px;
  font-size: 10px;
}

.About {
  margin: 50px;
  color: #E8E7C8;
  letter-spacing: 5px;
  line-height: 30px;
}

.synth-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(2, 100%);
}

.Synth > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 5px;
}


.Synth h2, p {
  margin-top: -5px;
}

.Synth-list {
  margin: 50px;
  color: #E8E7C8;
  letter-spacing: 5px;
  line-height: 30px;
}
