/*
off-black: #262626;
off-white: #E8E7C8;
red: #C25329;
dark-grey: #4F4F4F;
lite-grey: #6E6E6E;
*/

header {
  margin: 20px;
}

h1 {
  color: #C25329;
  letter-spacing: 10px;
}

header p {
  color: #C25329;
  margin-top: -20px;
  letter-spacing: 1px;
  font-size: 10px;
}
